* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
}

a {
  color: aliceblue;
  text-decoration: none;
}
.App {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #363636;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(138, 138, 138);
    border-radius: 8px;
  }
  