
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #111111;
    overflow-x: hidden;
}

a{
    color: aliceblue;
    text-decoration: none;
}